<ion-item (tap)="goToListingDetail(listing)" tappable>
  <h2>{{listing.title}}</h2>
  <div class="wrap-rating">
    <overall-ratings type="editor" [listing]="listing" *ngIf="listing.reviews.editor !== null"></overall-ratings>
    <overall-ratings type="user" [listing]="listing" *ngIf="listing.reviews.user !== null"></overall-ratings>
  </div>
  <p *ngIf="listing?.owner !== null || listing.created !== null" class="author-submit"><span *ngIf="listing?.owner !== null">{{listing?.owner?.name}}</span> <span> {{listing.created}}</span></p>
</ion-item>
<div class="card-content">
  <div class="thumb thumb-card" (tap)="goToListingDetail(listing)">
    <ion-thumbnail *ngIf="listing.thumb" item-left [ngStyle]="{'background-image': 'url(' + listing.thumb + ')'}"></ion-thumbnail>
  </div>
  <div *ngIf="allowsFavorites(listing)" class="favorite" (tap)="toggleFavorite(listing)" tappable>
    <ion-icon class="like" name="md-heart" [hidden]="!listing.me.favorite"></ion-icon>
    <ion-icon class="unlike" name="md-heart-outline" [hidden]="listing.me.favorite"></ion-icon>
  </div>
</div>