<ion-header>
  <ion-navbar [color]="pageParams.headerBg">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="pageParams.headerTitle">{{ pageParams.headerTitle }}</ion-title>
    <ion-title *ngIf="!pageParams.headerTitle && pageParams.headerImg">
      <img *ngIf="pageParams.headerImg" [src]="pageParams.headerImg" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ion-content-login">

  <div padding>
    <div class="title-header" *ngIf="pageParams.pageTitle">
      <h2 class="page-title" *ngIf="pageParams.integrations?.facebook.enableLogin || pageParams.integrations?.google.enableLogin">{{ pageParams.pageTitle }}</h2>
    </div>
    <p class="text-top" *ngIf="pageParams.integrations?.facebook.enableLogin || pageParams.integrations?.google.enableLogin">{{ 'AUTH_LOGIN_WITH' | translate }}</p>
    <ion-grid class="non-padding" >
      <ion-row>
        <ion-col *ngIf="pageParams.integrations?.facebook.enableLogin" class="non-padding pr-5">
          <button ion-button full icon-left color="primary" class="btn-facebook" (tap)="loginFacebook()">
          <span class="fb-icon">
            <ion-icon class="color-facebook" name="logo-facebook"></ion-icon>
          </span>
            {{'FACEBOOK' | translate}}
          </button>
        </ion-col>
        <ion-col *ngIf="pageParams.integrations?.google.enableLogin" class="non-padding pl-5">
          <button ion-button full icon-left color="primary" class="btn-google" (tap)="loginGoogle()">
          <span class="icon-register">
            <ion-icon class="color-googleplus" name="logo-googleplus"></ion-icon>
          </span>
            {{'GOOGLE' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="text-email-register" *ngIf="pageParams.integrations?.facebook.enableLogin || pageParams.integrations?.google.enableLogin">
      <p class="text-top">{{ 'AUTH_EMAIL_LOGIN' | translate }}</p>
    </div>
  </div>
  <form (submit)="login()" class="form-login">

    <ion-list class="bg-white">

      <ion-item [ngClass]="[(( account.email === '' || account.email === undefined ) && isSubmit) ? 'invalid' : '']">
        <ion-label stacked>{{'EMAIL_LABEL' | translate}}
          <span class="required-field" *ngIf="account.email === '' && isSubmit">{{ 'VALIDATION_REQUIRED' | translate }}</span>
        </ion-label>
        <ion-input type="email" placeholder="{{'EMAIL_PLACEHOLDER' | translate}}" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item [ngClass]="[(( account.password === '' || account.password === undefined ) && isSubmit) ? 'invalid' : '']">
        <ion-label stacked>{{'PASSWORD_LABEL' | translate}}
          <span class="required-field" *ngIf="account.password === '' && isSubmit">{{ 'VALIDATION_REQUIRED' | translate }}</span>
        </ion-label>
        <ion-input type="password" placeholder="{{'PASSWORD_PLACEHOLDER' | translate}}" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding="">
        <button ion-button class="btn-0082ca text-uppercase btn-default" color="primary" block>{{'LOG_IN' | translate}}</button>
      </div>

    </ion-list>

  </form>

    <button class="" ion-button color="primary"  clear block (tap)="goToRegisterPage()">{{'CREATE_AN_ACCOUNT' | translate}}</button>

</ion-content>