{
  	"environment": "live",
  	"apiBase": "http://api.jreviews-website.com",
  	"origamiUrl": "http://api.origami-website.com",
	"integrations": {
		"google": {
			"trackID": "",
			"webApiKey": "",
			"loginKey": "",
			"enableLogin": false
		},
		"facebook": {
			"enableLogin": false
		}
	}  
}